# Dependencies
node_modules
app/node_modules

# Build
dist
app/dist
dist-ssr
*.local

# Logs
logs
data/logs/*
!data/logs/.gitkeep
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
